body {
    background-color: #F3E9DC;
}

h1 {
    color: #000000;
}

p {
  color: #000000;  
}

h3 {
    color: #000000;
}
.btn-primary {
    background-color: #D96F32;
    border: none;
}

.btn-primary:hover {
    background-color: #C75D2C;
}

.nav-tabs .nav-link {
    background-color: #d9d9d9;
    color: #000000;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: #000000;
}

.nav-tabs .nav-link.active {
    background-color: #ffffff;
    color: #000000;
}

