body {
    background-color: #F3E9DC;
}

h1 {
    color: #000000;
}

p {
  color: #000000;  
}

h3 {
    color: #000000;
}
.btn-primary {
    background-color: #D96F32;
    border: none;
}

.btn-primary:hover {
    background-color: #C75D2C;
}

